# ===== Unity generated =====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# ===== IDE / tooling =====
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Unity cache =====
.gradle/

# Office temp files
~$*.docx
~$*.pptx
~$*.xlsx
